.heavy {
  font-weight: 900;
}
.small {
  font-size: 16px;
}

.hover {
  cursor: pointer;
}

.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.2s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

.home .v-carousel__controls {
  bottom: 30px;
}

#content-top {
  margin-top: 65px;
}

.rule {
  border-bottom: 1px solid #aaa;
  padding-bottom: 5px;
  margin-bottom: 25px;
}

.uppercase {
  text-transform: uppercase;
}

a {
  font-weight: bold;
}

.breadcrumb {
  margin-top: 65px;
  margin-bottom: 48px;
}

@media only screen and (max-width: 600px) {
  .breadcrumb {
    margin-top: 55px;
  }

  #content-top {
    margin-top: 55px;
  }
}
