.heavy {
  font-weight: 900;
}
.small {
  font-size: 16px;
}

.default-font {
  font-family: "Lato", sans-serif !important;
}

.carousel-large {
  font-size: 55px;
  color: #fff;
}

.carousel-medium {
  font-size: 22px;
  color: #fff;
}

.hover {
  cursor: pointer;
}

.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.2s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

.home .v-carousel__controls {
  bottom: 20px;
}

#content-top {
  margin-top: 90px;
}

.rule {
  border-bottom: 1px solid #aaa;
  padding-bottom: 5px;
  margin-bottom: 25px;
}

.uppercase {
  text-transform: uppercase;
}

a {
  font-weight: bold;
}

.breadcrumb {
  margin-top: 90px;
  margin-bottom: 48px;
}

@media only screen and (max-width: 800px) {
  .breadcrumb {
    margin-top: 85px;
  }

  #content-top {
    margin-top: 85px;
  }
  .carousel-sub-text {
    display: none;
  }
}

/** NProgress config **/

#nprogress .bar {
  background: #3f51b5;
}

#nprogress .peg {
  box-shadow: 0 0 10px #3f51b5, 0 0 5px #3f51b5;
}

#nprogress .spinner-icon {
  border-top-color: #3f51b5;
  border-left-color: #3f51b5;
}
